title{color:black;}
p{
font-family: 'Raleway', sans-serif;
color: black;
margin-left: 30%;
}
h1{color: black;
	font-family: 'Roboto', sans-serif;
	margin-left: 30%;
	background-color: #FFB6C1;
	margin-right: 30%;
}
a{color: black;}